@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #001529;
  --borderColor: #212121;
  --hoverBlack: #E7E7E7;
  --topNav: 48px;
  --topNavM: -48px;
  --aside: 208px;
  --asideM: -208px;
  --asideFooter: 36px;
}

body {
  background: #E5E5E5;
}